@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.main {
  min-height: 100vh;
  border: 10px solid #fff;
  background: #fbfbfb;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  padding: 0;
  display: block;

  &:hover .logo svg {
    transform: rotate(-180deg);
  }
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;

  &:last-child {
    margin-top: auto;
  }
}

.active {
    background: var(--bg-secondary);

    & .nav-link {
      filter: grayscale(0%) opacity(1);
      background: var(--bg-secondary);
      color: var(--text-secondary);
    }
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);

  &:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  & svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.fa-primary {
  color: #0069d9;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 0.8rem;
  letter-spacing: 0.3ch;
  width: 100%;

  & svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

/** GENERAL STYLING **/
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
}

.col-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;

  & h1 {
    margin-top: 0.8rem;
  }
}

.presentation {
  margin: 0.8rem -15px;
}

.btn-primary {
  background-color: #454558;
  color: var(--text-secondary);
  border: 1px solid transparent;
}

#message {
  font-size: 1.5rem;
}

.view {
  background: #fbfbfb;
  border: 13px solid white;
}

/** LOGIN **/

.login {
  background: #fbfbfb;
  border: 13px solid white;
  padding: 3rem;
}

#loginMessage {
  color: red;
  font-size: 15px;
  margin: 2% 0;
}

.card-col {
  margin-bottom: 0.8rem;

  & img {
    height: 250px;
    object-fit: cover;
  }

  & .card {
    height: 525px;
  }
}

#gallery .card-col {
  & img {
    min-height: 200px;
    max-height: 200px;
  }
  & .card {
    height: auto;
  }
}

.sub-header {
  display:flex;
  align-items: center;
}

textarea {
  resize: none;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .view {
    margin-bottom: 10%;
  }
  .main {
    margin-bottom: 10%;
  }
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    z-index: 1;
  }

  #themeButton {
    display: none;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}