@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #042D4A;
  background: #fff;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #4989d6;
}

.hide {
  display: none;
}

.section-image {
  height: 200px;
}

.waves {
  background-image: url("../images/custom.png");
  background-size: cover;
}

.grey {
  background-image: url("../images/grey-bird.png");
  background-size: cover;
}

.grey-gradient {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0%, white), color-stop(60%, whitesmoke), to(whitesmoke));
  background: linear-gradient(180deg, white 0%, white 0%, whitesmoke 60%, whitesmoke 100%);
}

.grey-gradient-second {
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(0%, white), color-stop(60%, whitesmoke), to(whitesmoke));
  background: linear-gradient(0deg, white 0%, white 0%, whitesmoke 60%, whitesmoke 100%);
}

.max-height {
  min-height: 100vh;
  background: #f5f5f5;
}

.italic {
  font-style: italic;
}

textarea {
  resize: none;
}

.btn-primary {
  bottom: 5px;
  background-color: #3169AD;
  border: 1px solid transparent;
}

.btn-primary:hover {
  background-color: #fff;
  color: #3169AD;
  border: 1px solid #3169AD;
}

.action-btn .btn {
  background: #3169AD;
  color: #fff;
  padding: 2% 6%;
  margin-bottom: 2%;
  border: 2px solid transparent;
  font-size: 1.2em;
  cursor: pointer;
}

.action-btn .btn:hover {
  background: #fff;
  color: #3169AD;
  border: 2px solid #3169AD;
}

nav {
  font-size: 1.1rem;
  background: #fff;
  border-bottom: 1px solid #eee;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

nav .nav-link,
nav .navbar-brand {
  color: #042D4A;
}

nav .nav-link:hover,
nav .navbar-brand:hover {
  color: #3169AD;
}

nav .nav-link {
  font-weight: 300;
  font-size: 1.1em;
  cursor: pointer;
}

nav .nav-link:hover {
  color: #4989d6;
}

nav a:not([href]):not([tabindex]):focus, nav a:not([href]):not([tabindex]):hover {
  color: #4989d6;
}

nav .active {
  color: #3169AD;
}

nav .navbar-img {
  background: url("../images/logo-test.png");
  height: 55px;
  width: 55px;
  margin-right: 10px;
}

.banner {
  color: #fff;
  background-image: url("../images/frontpage-min.jpg");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.banner .container {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .container .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .dark-bg {
  background-color: rgba(12, 11, 11, 0.8);
  width: 70%;
  -webkit-box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.75);
}

.banner p {
  font-size: 1.2em;
  padding: 2% 10%;
}

.banner h1 {
  font-size: 2.4em;
  margin-top: 2%;
  font-style: italic;
}

.banner .banner-text hr {
  border-bottom: 3px solid #3169AD;
  width: 20%;
}

.banner a:not([href]):not([tabindex]):focus, .banner a:not([href]):not([tabindex]):hover {
  color: #3169AD;
}

.frontpage-section {
  min-height: 400px;
  margin: 4% 0;
}

#intro .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#intro .text-wrapper .icon {
  font-size: 2em;
  color: #3169AD;
  border: 2px solid #3169AD;
  padding: 2px 10px;
}

#intro .text-wrapper h4 {
  margin-bottom: 0;
  margin-left: 10px;
}

#intro hr {
  border-bottom: 3px solid #3169AD;
  width: 15%;
  float: left;
}

#intro .col-lg-6 {
  margin-bottom: 3%;
}

#intro p {
  float: left;
  line-height: 30px;
  font-size: 1.05em;
}

#ships {
  background: #042D4A;
  min-height: 650px;
  margin: 0;
}

#ships .container {
  height: 100%;
}

#ships h2, #ships h3, #ships h4 {
  color: #fff;
  margin-top: 3%;
}

#ships hr {
  border-bottom: 3px solid #fff;
  width: 10%;
}

#ships .react-multi-carousel-list {
  height: 75%;
}

#ships .react-multi-carousel-track {
  min-height: 500px;
}

#ships .card {
  margin: 4%;
  height: 450px;
}

#ships .card .btn {
  position: absolute;
  bottom: 5px;
  background-color: #3169AD;
  border: 1px solid transparent;
}

#ships .card .btn:hover {
  background-color: #fff;
  color: #3169AD;
  border: 1px solid #3169AD;
}

#ships .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

#testimonial {
  min-height: 350px;
  background: #f5f5f5;
  padding: 5%;
  margin: 0;
}

#testimonial .container {
  padding: 30px;
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
  background: #fff;
  border-radius: 20px;
}

#testimonial .avatar {
  text-align: center;
  margin-bottom: 2em;
}

#testimonial .avatar img {
  width: 10%;
  border-radius: 50%;
  border: 4px solid #3169AD;
}

#testimonial .quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  text-align: center;
}

#testimonial .quotes h5 {
  font-style: italic;
}

#testimonial .quotes p {
  margin-top: auto;
}

#testimonial .quotes-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gallery {
  background-image: url("../images/frontpage-min.jpg");
  background-size: cover;
  margin: 0;
}

#gallery .ReactGridGallery_tile-viewport > img {
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery .bg-color {
  min-height: 400px;
  background-color: RGBA(12, 11, 11, 0.8);
  padding: 5%;
}

#gallery .flex {
  padding: 22px;
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
}

#gallery .flex h2 {
  color: #fff;
  font-style: italic;
  line-height: 40px;
}

#gallery .flex hr {
  border-bottom: 1px solid #fff;
}

#gallery .flex p {
  color: #fff;
  line-height: 30px;
  font-size: 1.1em;
}

#gallery .text-underline {
  text-decoration: underline;
}

#arrangements {
  min-height: 650px;
}

#arrangements .react-multi-carousel-list {
  height: 75%;
}

#arrangements .react-multi-carousel-track {
  min-height: 500px;
}

#arrangements .card {
  margin: 4%;
  height: 450px;
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
}

#arrangements .card .btn {
  position: absolute;
  bottom: 5px;
  background-color: #3169AD;
  border: 1px solid transparent;
}

#arrangements .card .btn:hover {
  background-color: #fff;
  color: #3169AD;
  border: 1px solid #3169AD;
}

#arrangements .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

#contact {
  background: #f5f5f5;
  margin: 0;
  min-height: 550px;
}

#contact hr {
  border-bottom: 5px solid #1e1e24;
  width: 10%;
}

.map {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
}

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #042D4A;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.pin:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #e6e6e6;
  position: absolute;
  border-radius: 50%;
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  -webkit-transform: rotateX(55deg);
          transform: rotateX(55deg);
  z-index: -2;
}

.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  -webkit-animation: pulsate 1s ease-out;
          animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
  -webkit-box-shadow: 0 0 1px 2px #00cae9;
          box-shadow: 0 0 1px 2px #00cae9;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px) rotate(-45deg);
            transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px) rotate(-45deg);
            transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px) rotate(-45deg);
            transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px) rotate(-45deg);
            transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
}

footer {
  background: #333;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-top: 8px solid #042D4A;
}

footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}

footer li {
  color: white;
  margin-bottom: 15px;
}

footer h3 {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 20px 0 5px;
  text-transform: uppercase;
}

#shipPage .ship-row {
  padding: 10px;
}

#shipPage .ship-row .card {
  border: none;
  background: #f5f5f5;
}

#shipPage .ship-row img {
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  padding: 0 10px;
}

#shipPage .ship-row img:hover {
  cursor: pointer;
}

#shipPage .ship-container .ship-desc {
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
  padding: 30px;
  background: #fff;
}

#shipPage .ship-container .ship-desc p {
  line-height: 30px;
  font-size: 1.1em;
  white-space: pre-line;
}

#shipPage .ship-arrangements .card-img-top {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

#arrangementPage .arrangement-container .arrangement-desc {
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.075);
  padding: 30px;
  background: #fff;
}

#arrangementPage .arrangement-container .arrangement-desc p {
  line-height: 30px;
  font-size: 1.1em;
  white-space: pre-line;
}
/*# sourceMappingURL=style.css.map */